extends layout 
block content
        .container.vh-100
          .row
            #reg-wrapper.col.card.login
              .card-header
                h3 Create Branch
              .card-body
                form#register.row.mb-3.g-3(action='/users/createUser' method='POST')
                  .col-md-6
                    label.form-label(for='username') Manager's Name
                    input#username.form-control(type='text' name='username')
                  .col-md-6
                    label.form-label(for='user-email') Email
                    input#user-email.form-control(type='email' name='email')
                  .col-md-6
                    label.form-label(for='user-password') Password
                    input#user-password.form-control(type='password' name='password')
                  .col-md-6
                    label.form-label(for='employee-ID') Employee ID
                    input#employee-ID.form-control(type='text' name='employeeid')
                  .col-md-6
                    label.form-label(for='userphone') Phone Number
                    input#userphone.form-control(type='tel' name='phone')
                  .col-md-6
                    label.form-label(for='role') Role
                    input#role.form-control(type='text' name='role' value="manager")
                    
                  .col-md-6
                    label.form-label(for='branch') Branch Name
                    input#branch.form-control(type='text' name='branch')
                    
                  .col-12
                    button.btn.btn-primary(type='submit') Create
      

        include ./footer
  
