doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title KGL | #{title}
  link(rel='icon' type='image/x-icon' href='/images/favicon.ico')
  //- link(rel='icon' type='image/x-icon' href='/images/logo.svg')
  link(rel='stylesheet' href='/css/bootstrap/css/bootstrap.min.css')
  link(rel='stylesheet' href='/css/style.css')
  
nav.navbar.navbar-expand-lg.navbar-dark.bg-dark(style='height: 10vh !important')
  .container-fluid
    a.navbar-brand(href='/')
      img(src='/images/logo.png' alt='KGL logo')
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.me-auto.mb-2.mb-lg-0
        li.nav-item
          //- a.nav-link.active(aria-current='page' href='/') Home
      
    if(user)        
      a.nav-link.text-light(href='/') Home
      a.nav-link.text-light.btn(href='/logout') Log out
      a.nav-link.text-light(href='/dashboard') My Account
block content
