extends layout 
block content
    .container.mt-5
            .row
              #login-wrapper.col-12.card.login
                .card-header
                  h3.text-success #{msg} 
                .card-body
                                        
