extends layout 
block content
  .container.vh-100
    .row
      .col.card.login
        
        .card-body
          h1.text-success  #{msg}
          //- h1.text-success  #{user.name}
               
  include ./footer
  
